
body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: black;
}

h1, h2 {
  color: #333;
  margin-bottom: 1em;
}


table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #cccccc;
}

th, td {
  padding: 15px;
  text-align: left;
}

th {
  background-color: #ddd;
}


button {
  background: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}


form {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
}

input[type='text'],
input[type='date'] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}


label {
  display: block;
  margin-top: 20px;
}

.memberList, .EmployeeList, .deleteMemberForm, .addMemberForm, .changeClassForm, .quitClassForm, .fireEmployeeForm {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
}

